<h1>Stupid Coaching</h1>
<div class="callout my-3 py-2">
  <p><%= @question %></p>
  <p class="fst-italic my-2">-You</p>
</div>
<div class="callout bg-yellow my-3 py-2">
  <p class="fw-bold"><%= @answer %></p>
  <p class="fst-italic my-2">-Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
